<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>
<body>
    <iframe title="IAPowerBI" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZDNhNTZhZmItNjc5MC00ZWIwLTg5ODYtMWM1NzdkZTcyZTIzIiwidCI6IjMwYmU0MGU3LWJlYWQtNGZmZS1hZTc5LThhOTBhMWFhYmUxMCIsImMiOjEwfQ%3D%3D&pageName=cd14a053105897a1617c" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>